[Unit]
Description=Run Azaan clock as a Service

[Service]
ExecStart=python -u /home/pi/azaan-clock/azan-cron.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target