[Unit]
Description=Reboot whole OS if Bluetooth is not available

[Service]
ExecStart=python -u /home/pi/azaan-clock/utils/bluetooth-util.py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
